.main-footer {
    color: white;
    background-color: hsl(214, 32%, 39%);
    padding-top: 1em;
    position: relative;
    width: 100%;
}
.list-unstyled{
    font-size:16px;
}
.row{
    margin-left: 110px
}
.is-divider {
    background-color: rgba(255, 255, 255, 0.3);
    height: 3px;
    display: block;
    margin: 1em 0 1em;
    width: 100%;
    max-width: 30px;
}

.button{
    background-color: hsl(214, 32%, 39%);
    border-color: hsl(214, 32%, 39%);
    margin-top: 1em;
    color: white;
    font-weight: 500;
    border-radius: 99px;
    border-color: rgba(0, 0, 0, 0.05);
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: .03em;
    touch-action: none;
    cursor: pointer;
    font-weight: bolder;
    text-align: center;
    text-decoration: none;
    border: 1px solid transparent;
    vertical-align: middle;
    margin-right: 1em;
    text-shadow: none;
    line-height: 2.4em;
    min-height: 2.5em;
    padding: 0 1.2em;
    max-width: 100%;
    transition: transform .3s, border .3s, background .3s, box-shadow .3s, opacity .3s, color .3s;
    text-rendering: optimizeLegibility;
    box-sizing: border-box;
}

.button:hover{
    background-color: rgba(0, 0, 0, 0.20);
}
.Email{
    background-color: rgba(255, 255, 255, 0.2);
    border-color: rgba(255, 255, 255, 0.09);
    border-radius: 99px;
    color: white;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.09);
    padding: 0 0.75em;
    height: 2.507em;
    font-size: .97em;
    max-width: 100%;
    width: 90%;
    vertical-align: middle;
    color: white;
}
.Email::placeholder{
    color: white;
}
